
/* ################  Main Menu Section   ######################### */
.main__nav 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main__menu 
{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.main__menu  li a 
{
    color: #061606;
    font-weight: 600;
    opacity: 0.7;
}
/* Hamburger Menu  */
.mobile-menu li 
{
 margin-bottom: 10px;
}

.mobile-menu li a
{
    text-decoration: none;
    display: inline-block;
    color: #333;
    font-weight:600;
    font-size: 14px;
    transition: all 0.5s;
}
.mobile-menu {
    display: none;
    position: absolute;
    list-style: none;
    top: 80px;
    left: 0px;
    height: 45vh;  /*mobile menu height*/
    width: 100%;
    cursor: pointer;
}
.open .mobile-menu {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
background: rgba(208, 247, 185, 0.966);
-webkit-backdrop-filter: blur(15px);
backdrop-filter: blur(15px);

padding: 50px 20px;

}


#hamburger-icon {
margin: -60px 390px;   /*mobile menu icon position height*/
display: none;
align-items: center;
justify-content:center;
cursor: pointer;
}

#hamburger-icon div {
width: 35px;
height: 3px;
background-color: rgb(17, 10, 10);
margin: 6px 0;
transition: 0.4s;
}
  
.open .bar1 {
-webkit-transform: rotate(-45deg) translate(-6px, 6px);
transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
opacity: 0;
}

.open .bar3 {
-webkit-transform: rotate(50deg) translate(-6px, -8px);
transform: rotate(45deg) translate(-6px, -8px);
}


@media  screen and (max-width:720px){

    .container
    {
    width: 90%;
    }

    header {
      
        padding: 1rem 0;
        
      }
    .main__menu  {
    display: none;
    }
    
    #hamburger-icon {
    display: block;
   
    }
    
    .btn 
    {
       border-radius: 5px;
    }
    
    #hamburger-icon div {
    width: 25px;
    height: 2px;
    margin-right: -170px;
    }
    }
    